

a{
    font-size: large;
    right: inherit;
}

p{
    font-size: large;
    position: relative;
}

#sloganText{
    position: relative;
    bottom: 150px;
}

#logoImage {
    width:540px; 
    height:231px;
    object-fit: contain;
    clip-path: inset(80px 0px 80px 0px round 45px);
    position: relative;
    top: -70px;
    left: -1%;
}

#searchCategories{
    background-color: aquamarine;
}

#postArt{
    height: 25px;
    background-color: aquamarine;
    clip-path: inset(0px 0px 0px 0 round 10px);
    border: none;
}

#searchButton {
    height: 25px;
    background-color: aquamarine;
    clip-path: inset(0px 0px 0px 0 round 10px);
    border: none;
}

#searchButton {
    height: 25px;
    background-color: aquamarine;
    clip-path: inset(0px 0px 0px 0 round 10px);
    border: none;
}

#checkNotifs{
    height: 25px;
    background-color: aquamarine;
    clip-path: inset(0px 0px 0px 0 round 10px);
    border: none;
}

#accountInfo {
    height: 25px;
    background-color: aquamarine;
    clip-path: inset(0px 0px 0px 0 round 10px);
    border: none;
}

#logout{
    height: 25px;
    background-color: aquamarine;
    clip-path: inset(0px 0px 0px 0 round 10px);
    border: none;
}

#searchBox {
    background-color: aquamarine;
}