html(lang="en")
    head

    body  
        include ../partials/headers
        
        div#logoDIV
            a(href= "/")
                img#logoImage(src = 'https://i.imgur.com/YINIsgM.png')
            p We're going to take back what's ours